name: CI

on:
  push:
    branches-ignore:
      - gh-pages

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { headless: false, os: "windows-latest" },
            { headless: false, os: "ubuntu-latest" },
            { headless: false, os: "macos-14" },
            { headless: true, os: "windows-latest" },
            { headless: true, os: "ubuntu-latest" },
            { headless: true, os: "macos-14" },
          ]
    runs-on: ${{ matrix.target.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 21.7.3

      - uses: mlugg/setup-zig@v2.0.5
        with:
          version: 0.15.2

      - if: runner.os == 'macOS'
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - if: runner.os == 'windows' # TODO: hopefully, build.zig.zon will once support using nuget directly
        run: nuget install Microsoft.Web.WebView2 -Version 1.0.2792.45

      - if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libwebkit2gtk-4.1-dev

      - run: npm ci && npm run build

      - run: zig build -Doptimize=ReleaseSafe -Dheadless=${{ matrix.target.headless }} ${{ runner.os == 'windows' && '--search-prefix .\Microsoft.Web.WebView2.1.0.2792.45\build\native' || '' }}

      - name: Create DMG
        if: runner.os == 'macOS' && matrix.target.headless == false
        run: ./scripts/create_dmg.sh --skip-build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ava-${{ matrix.target.headless && 'headless-' || '' }}${{ matrix.target.os }}
          path: |
            zig-out/bin/*
            zig-out/*.dmg
